<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico?v20140522184239">

	<link rel="canonical" href="http://motherboard.vice.com/read/zigomir" />
	<title>Motherboard - Error Site | Motherboard</title>
</head>
<body>
	<!-- BEGIN EFFECTIVE MEASURE CODE -->
<!-- COPYRIGHT EFFECTIVE MEASURE -->
<script type="text/javascript">
    var _em_survey_rate = "0";
    (function() {
        var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
        em.src = ('https:' == document.location.protocol ? 'https://au-ssl' : 'http://au-cdn') + '.effectivemeasure.net/em.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
    })();
</script>
<noscript>
    <img src="//au.effectivemeasure.net/em_image" alt="" style="position:absolute; left:-5px;" />
</noscript>
<!--END EFFECTIVE MEASURE CODE -->
	<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"x5HVh1aUXR00Gi", domain:"vice.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=x5HVh1aUXR00Gi" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
	<section class="site-wrapper">

		<section class="vice-network-bar">
	<p class="version"></p>

	<section class="locales">
		<div class="current-locale">
		us		</div>

		<ul>
												<li>
						<a href="/en_ca">
							ca						</a>
					</li>
																<li>
						<a href="/de">
							de						</a>
					</li>
																<li>
						<a href="/it">
							it						</a>
					</li>
																<li>
						<a href="/nl">
							nl						</a>
					</li>
																<li>
						<a href="/en_uk">
							uk						</a>
					</li>
																</ul>
	</section>

	<section class="family">
		<h2 class="family-trigger">The <span class="icon-sprite">VICE</span> Channels</h2>

		<ul></ul>
	</section>
</section>

<header class="site-header">
	<div class="main-nav-header">
		<div class="header-wrapper">
			<button class="menu-non-rounded">
				<span class="menu-icon"></span>
			</button>

			<div class="socials-in-article">
				<a href="#" data-type="facebook" class="facebook">
					<i class="site-icon facebook"></i>
					Share
				</a>
				<a href="#" data-type="twitter" class="twitter">
					<i class="site-icon twitter"></i>
					Tweet
				</a>
			</div>

			<h1 class="motherboard-logo">
				<a href="/en_us?trk_source=header-logo">
					<span>Motherboard</span>
				</a>

				<a href="/en_us?trk_source=header-logo" class="motherboard-load-initial">
					<span>Motherboard</span>
				</a>
			</h1>

			<nav class="inline-site-navigation">
				<ul class="main-nav-headings">
					<li class="main-nav-heading" id="main-nav-heading-1">
						<a href="/en_us/videos?trk_source=nav">
							Watch							<span class="site-icon arrow-down"></span>
						</a>
					</li>

					<li class="main-nav-heading" id="main-nav-heading-2">
						<a href="#">
							Sections
							<span class="site-icon arrow-down"></span>
						</a>
					</li>

																<li class="main-nav-heading main-subnav-heading" id="main-nav-heading-3">
							<a href="/en_us/tag/machines?trk_source=nav">
								Machines								<span class="site-icon arrow-down"></span>
							</a>
						</li>

																	<li class="main-nav-heading main-subnav-heading" id="main-nav-heading-4">
							<a href="/en_us/tag/discoveries?trk_source=nav">
								Discoveries								<span class="site-icon arrow-down"></span>
							</a>
						</li>

																	<li class="main-nav-heading main-subnav-heading" id="main-nav-heading-5">
							<a href="/en_us/tag/power?trk_source=nav">
								Power								<span class="site-icon arrow-down"></span>
							</a>
						</li>

																	<li class="main-nav-heading main-subnav-heading" id="main-nav-heading-6">
							<a href="/en_us/tag/futures?trk_source=nav">
								Futures								<span class="site-icon arrow-down"></span>
							</a>
						</li>

																	<li class="main-nav-heading main-subnav-heading" id="main-nav-heading-7">
							<a href="/en_us/tag/culture?trk_source=nav">
								Culture								<span class="site-icon arrow-down"></span>
							</a>
						</li>

																	<li class="main-nav-heading main-subnav-heading" id="main-nav-heading-8">
							<a href="/en_us/tag/earth?trk_source=nav">
								Earth								<span class="site-icon arrow-down"></span>
							</a>
						</li>

															</ul>
			</nav>

			<script type="text/template" id="nav-item-template">
				<a href="<%= url %>?trk_source=nav">
					<figure>
						<div class="article-media-overlay"></div>
						<img src="<%= image.url %>" alt="<%= image.alt %>" />
					</figure>
					<h2><%= title %></h2>
				</a>
			</script>

			<div class="socials">
				<a href="http://www.facebook.com/motherboardtv?trk_source=motherboard" target="_blank" class="site-icon facebook"></a>
									<a href="https://twitter.com/motherboard?trk_source=motherboard" target="_blank" class="site-icon twitter"></a>
								<a href="http://motherboardtv.tumblr.com/?trk_source=motherboard" class="site-icon tumblr" target="_blank"></a>
								<a href="/rss?trk_source=motherboard" class="site-icon rss" target="_blank"></a>
				<a href="http://www.youtube.com/motherboardtv?feature=watch&trk_source=motherboard" target="_blank" class="site-icon youtube"></a>
			</div>

			<div class="search-container">
				<button class="site-icon search"></button>

				<div class="searchbox-container">
					<div class="gcse-searchbox-only" data-resultsUrl="/article/gsearch" data-queryParameterName="query"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="global-sub-nav-sections" class="sub-nav-sections">
		<div class="header-wrapper">
			<div class="sub-nav-section watch has-submenu" id="sub-nav-section-1">
				<ul class="sub-nav-section-headings">
					<li data-model-id="videos-latest">
						<a href="/en_us/videos?trk_source=nav">Latest Videos</a>
					</li>
											<li data-model-id="videos-documentaries">
							<a href="/tag/documentaries?trk_source=nav">Documentaries</a>
						</li>
											<li data-model-id="videos-interviews">
							<a href="/tag/interviews?trk_source=nav">Interviews</a>
						</li>
									</ul>

				<div class="sub-nav-section-models">
					<div class="sub-nav-section-model" data-model-id="videos-latest" data-has-menu="true" data-topic-slug="videos" data-type="videos">
					</div>
																		<div class="sub-nav-section-model" data-model-id="videos-documentaries" data-has-menu="true" data-topic-slug="documentaries" data-type="videos">
							</div>
																								<div class="sub-nav-section-model" data-model-id="videos-interviews" data-has-menu="true" data-topic-slug="interviews" data-type="videos">
							</div>
															</div>
			</div>

			<div class="sub-nav-section watch has-submenu" id="sub-nav-section-2">
				<ul class="sub-nav-section-headings">
											<li data-model-id="sections-machines">
							<a href="/en_us/tag/machines?trk_source=nav">Machines</a>
						</li>
											<li data-model-id="sections-discoveries">
							<a href="/en_us/tag/discoveries?trk_source=nav">Discoveries</a>
						</li>
											<li data-model-id="sections-power">
							<a href="/en_us/tag/power?trk_source=nav">Power</a>
						</li>
											<li data-model-id="sections-futures">
							<a href="/en_us/tag/futures?trk_source=nav">Futures</a>
						</li>
											<li data-model-id="sections-culture">
							<a href="/en_us/tag/culture?trk_source=nav">Culture</a>
						</li>
											<li data-model-id="sections-earth">
							<a href="/en_us/tag/earth?trk_source=nav">Earth</a>
						</li>
									</ul>

				<div class="sub-nav-section-models">
																		<div class="sub-nav-section-model" data-model-id="sections-machines" data-has-menu="true" data-topic-slug="machines">
							</div>
																								<div class="sub-nav-section-model" data-model-id="sections-discoveries" data-has-menu="true" data-topic-slug="discoveries">
							</div>
																								<div class="sub-nav-section-model" data-model-id="sections-power" data-has-menu="true" data-topic-slug="power">
							</div>
																								<div class="sub-nav-section-model" data-model-id="sections-futures" data-has-menu="true" data-topic-slug="futures">
							</div>
																								<div class="sub-nav-section-model" data-model-id="sections-culture" data-has-menu="true" data-topic-slug="culture">
							</div>
																								<div class="sub-nav-section-model" data-model-id="sections-earth" data-has-menu="true" data-topic-slug="earth">
							</div>
															</div>
			</div>

										<div class="sub-nav-section sections" id="sub-nav-section-3">
					<div class="sub-nav-section-models">
													<div class="sub-nav-section-model center-items" data-model-id="tag-machines" data-topic-slug="machines">
							</div>
											</div>
				</div>

											<div class="sub-nav-section sections" id="sub-nav-section-4">
					<div class="sub-nav-section-models">
													<div class="sub-nav-section-model center-items" data-model-id="tag-discoveries" data-topic-slug="discoveries">
							</div>
											</div>
				</div>

											<div class="sub-nav-section sections" id="sub-nav-section-5">
					<div class="sub-nav-section-models">
													<div class="sub-nav-section-model center-items" data-model-id="tag-power" data-topic-slug="power">
							</div>
											</div>
				</div>

											<div class="sub-nav-section sections" id="sub-nav-section-6">
					<div class="sub-nav-section-models">
													<div class="sub-nav-section-model center-items" data-model-id="tag-futures" data-topic-slug="futures">
							</div>
											</div>
				</div>

											<div class="sub-nav-section sections" id="sub-nav-section-7">
					<div class="sub-nav-section-models">
													<div class="sub-nav-section-model center-items" data-model-id="tag-culture" data-topic-slug="culture">
							</div>
											</div>
				</div>

											<div class="sub-nav-section sections" id="sub-nav-section-8">
					<div class="sub-nav-section-models">
													<div class="sub-nav-section-model center-items" data-model-id="tag-earth" data-topic-slug="earth">
							</div>
											</div>
				</div>

									</div>
	</div>

	<div id="social-sub-nav-section" class="sub-nav-sections">
		<div class="header-wrapper">
			<div class="social-header-item facebook-item">
				<div class="fb-like" data-href="http://www.facebook.com/motherboardtv" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			</div>

							<div class="social-header-item">
					<a href="https://twitter.com/motherboard" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow</a>
				</div>

			<div class="social-header-item youtube-item">
				<div class="g-ytsubscribe" data-channel="motherboardtv" data-layout="default" data-count="default"></div>
			</div>

			<div class="social-header-item google-item">
				<div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/108283912023034722668" data-rel="publisher"></div>
			</div>

			<a href="http://www.vice.com/newsletter?trk_source=motherboard" target="_blank" class="newsletter">Newsletter</a>
		</div>
	</div>
</header>

<div class="site-navigation-mobile-screen"></div>

<nav class="site-navigation">
	<ul class="main-nav-headings">
		<li class="search-mobile-navigation">
			<button class="site-icon search"></button>

			<div class="searchbox-container">
				<div class="gcse-searchbox-only" data-resultsUrl="/article/gsearch" data-queryParameterName="query" data-placeholder="Search..."></div>
			</div>
		</li>

		<li class="main-nav-heading no-link" id="main-nav-heading-1">Sections</li>
			<ul class="main-nav-sub-headings features">
									<li><a href="/tag/machines?trk_source=nav">Machines</a></li>
									<li><a href="/tag/discoveries?trk_source=nav">Discoveries</a></li>
									<li><a href="/tag/power?trk_source=nav">Power</a></li>
									<li><a href="/tag/futures?trk_source=nav">Futures</a></li>
									<li><a href="/tag/culture?trk_source=nav">Culture</a></li>
									<li><a href="/tag/earth?trk_source=nav">Earth</a></li>
							</ul>

		<li class="main-nav-heading" id="main-nav-heading-2">
			<a href="/en_us/videos?trk_source=nav">Videos</a>
		</li>

		<li class="main-nav-heading" id="main-nav-heading-3">
			<a href="/about?trk_source=nav">About</a>
		</li>
	</ul>
</nav>

		<div class="site-content">
			<section class="page-notfound">
				<div class="page-container">
					<!--<img src="/assets/images/motherboard/error_404.png" alt="MOTHERBOARD - 404 NOT FOUND" id="page-notfound-image" /> //-->
					<h2>404 HORSE</h2>
					<div id="horse404"></div>
				</div>
			</section>
		</div>

		<footer id="main-footer" class="clearfix">
	<div class="wrapper">
		<nav id="footer-nav">
			<span class="legal">
				&copy; 2014 Vice Media Inc.			</span>
			<a href="/about" class="about-left">About <span>Motherboard</span></a>

			<div class="right-menu">
				<a href="/about" class="about">About <span>Motherboard</span></a>
				<a href="mailto:editor@motherboard.tv" class="contact">Contact</a>
				<a href="/privacy">Privacy Policy</a>
				<a href="/terms" class="last">Terms of Use</a>
			</div>
		</nav>
	</div><!-- end .wrapper -->
</footer>	</section>
<script>
    // var _comscore = _comscore || [];
    // _comscore.push({ c1: "2", c2: "8568956" });
    // (function() {
    //     var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
    //     s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
    //     el.parentNode.insertBefore(s, el);
    // })();
</script>
<script type="text/javascript">
    // var _sf_async_config={uid:8233,domain:"motherboard.tv"};
    // (function(){
    //     function loadChartbeat() {
    //         window._sf_endpt=(new Date()).getTime();
    //         var e = document.createElement('script');
    //         e.setAttribute('language', 'javascript');
    //         e.setAttribute('type', 'text/javascript');
    //         e.setAttribute('src',
    //         (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
    //         "js/chartbeat.js");
    //         document.body.appendChild(e);
    //     }
    //     var oldonload = window.onload;
    //     window.onload = (typeof window.onload != 'function') ?
    //     loadChartbeat : function() { oldonload(); loadChartbeat(); };
    // })();
</script>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="three.min.js"></script>
<script src="app-horse.js"></script>

<script type="text/javascript">
// /*<![CDATA[*/
// var SYSTEM_PREFIX = 'vmp', SITE_PREFIX = 'motherboard', SITE_LOCALE = 'en_us';
// var calls = [], _gaq = _gaq || [], ga;
// calls.push(
// ['_setAccount', 'UA-599058-30'],
// ['_setDomainName', 'motherboard.vice.com'],
// ['_trackPageview'],
// ['t2._setAccount', 'UA-37305051-1'],
// ['t2._setDomainName', 'motherboard.vice.com'],
// ['t2._trackPageview']
// );
// _gaq.push.apply(_gaq, calls);
// (function() {
// ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
// ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
// var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
// })();
// //Google Custom Serch Engine
// function load_google_search(){
// if(window.gcse) return;
// (function(){var cx = '014486740869999609936:xez_dccvozi';
// var gcse = document.createElement('script');
// gcse.type = 'text/javascript';
// gcse.async = true;
// gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
// var s = document.getElementsByTagName('script')[0];
// s.parentNode.insertBefore(gcse, s);
// })();
// }
// /*]]>*/
</script>
<!-- <script type="text/javascript" id="vmp-require-js" src="require.min.js" data-main="require.config.js" data-config-extension="/assets/js/motherboard/configs/mobo.config.js?v20140522184239" data-main-script="/assets/js/motherboard/site/error.js" data-asset-version="v20140522184239"></script> -->
</body>
</html>
